/* --------------- Media Queries ----------------- */

@media screen and (max-width: 1500px) {
    .costume-block {
        grid-template-columns: 28% auto 28%;
        column-gap: 5px;
    }


}

@media screen and (max-width: 1400px) {
    .terminal {
        column-gap: 15px;
    }


}

@media screen and (max-width: 1350px) {
    .costume-block {
        grid-template-columns: 30% auto 30%;
    }
    .info-block {
        right: 5px;
        bottom: 5px;
        top: 5px;
        padding: 20px;
    }

    .shown-part-photo {
        position: absolute;
    }


}

@media screen and (max-width: 1260px) {
    .costume-block {
        grid-template-columns: 33% auto 33%;
    }

    .keyboard {
        padding: 8px;
    }
    button {
        width: 10.8%;
    }

}

@media screen and (max-width: 1140px) {
    .costume-block {
        grid-template-columns: 35% auto 35%;
    }
    button {
        font-size: 13px;
    }

}

@media screen and (max-width: 1100px) {
    .costume-block {
        grid-template-columns: 37% auto 37%;
    }

    button {
        padding: 1px 3px;
    }


}

@media screen and (max-width: 1050px) {
    .costume-block {
        grid-template-columns: 40% auto 40%;
        column-gap: 0;
    }
    .info-block {
        right: 8px;
        padding: 10px;
    }

    button {
        width: 100px;
        height: 28px;
    }
    .keyboard {
        padding: 5px;
    }
   
}

@media screen and (max-width: 990px) {
    .costume-block {
        grid-template-columns: 43% auto 43%;
    }
    .info-block {
        right: 10px;
        left: 10px;
        bottom: 10px;
        top: 8px;
        padding: 20px;
    }

}

@media screen and (max-width: 930px) {
    .costume-block {
        grid-template-columns: 48% auto 48%;
    }
    .info-block {
        right: 5px;
        left: 5px;
        bottom: 5px;
        top: 5px;
    }

    button {
        width: 90px;
    }

}

@media screen and (max-width: 860px) {
    button {
        width: 80px;
    }

    .part-photo-horizontal {
        width: 28vh;
    }



}

@media screen and (max-width: 830px) {
    .costume-block {
        grid-template-columns: 50% auto 50%;
    }

    .part-photo-horizontal {
        width: 26vh;
    }



}

/* ! крайний размер до появления горизонтальной прокрутки => перестраивание блоков */
/* @media screen and (max-width: 830px) {

}*/