/* --------------- Media Queries ----------------- */

@media screen and (max-width: 1500px) {
    .costume-block {
        grid-template-columns: 28% auto 28%;
        column-gap: 5px;
    }

    .part-photo-vertical {
        height: 28vh;
    }


}

@media screen and (max-width: 1400px) {
    .terminal {
        column-gap: 15px;
    }


}

@media screen and (max-width: 1350px) {
    .costume-block {
        grid-template-columns: 30% auto 30%;
    }
    .info-block {
        right: 5px;
        bottom: 5px;
        top: 5px;
        padding: 20px;
    }

    button[data-info="bruce-wayne"] {
        line-height: 0.8;
        font-size: 13px;
    }

    .part-buttons-block button {
        height: 20%;
    }
    .part-photo-vertical {
        height: 24vh;
    }
    li {
        font-size: 12px;
    }


}

@media screen and (max-width: 1260px) {
    .costume-block {
        grid-template-columns: 35% auto 33%;
    }
    .costume-block.changed {
        grid-template-areas: "batman info";
        grid-template-columns: 35% auto;
    }
    .part-info {
        width: 95%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .keyboard {
        padding: 8px;
    }
    button {
        width: 10.8%;
    }

    .help-block {
        grid-template-areas: "text"
                            "ok-button";
        grid-template-columns: 100%;
        grid-template-rows: auto;
        column-gap: 0;
        row-gap: 10px;
    }

}

@media screen and (max-width: 1140px) {
    button {
        font-size: 13px;
    }

    /*! */
    .clock {
        width: 110px;
        height: 110px;
    }

}

@media screen and (max-width: 1100px) {
    .costume-block {
        grid-template-columns: 37% auto 37%;
    }
    .costume-block.changed {
        grid-template-areas: "batman info";
        grid-template-columns: 37% auto;
    }

    button {
        padding: 1px 3px;
    }

    .help-block {
        padding: 10px 8px;
        position: absolute;
        width: 200px;
        left: -30px;
        top: 255px;
        border: 1px solid grey;
    }

    .part-info {
        width: 93%;
    }


}

@media screen and (max-width: 1050px) {
    .costume-block {
        grid-template-columns: 40% auto 40%;
        column-gap: 0;
    }
    .costume-block.changed {
        grid-template-areas: "batman info";
        grid-template-columns: 40% auto;
    }

    .info-block {
        right: 8px;
        padding: 10px;
    }

    button {
        width: 100px;
        height: 28px;
    }
    .keyboard {
        padding: 5px;
    }

    .help-block {
        width: 170px;
    }

    .param-block[data-param] h3 {
        width: 75%;
    }
    
    /*! */
    .clock {
        width: 100px;
        height: 100px;
    }

   
}

@media screen and (max-width: 990px) {
    h3 {
        font-size: 13px;
        line-height: 1.35;
    }

    button {
        width: 90px;
    }

    li {
        font-size: 13px;
    }

    .terminal {
        grid-template-columns: 12% auto 20%;
    }

    .center-screen {
        grid-template-rows: 75% 16%;
        margin-top: 5px;
        margin-bottom: 5px;
        row-gap: 65px;
    }

    .characteristics-block {
        grid-template-areas:
            "costume-block"
            "parameters";
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        row-gap: 0;
    }
    
    .costume-block {
        height: 56vh;
        grid-template-columns: 30% auto 30%;
    }
    .costume-block.changed {
        grid-template-areas: "batman info";
        grid-template-columns: 30% auto;
    }

    .info-block {
        left: 180px;
    }
    
    .info {
        grid-template-areas:
            "part-photo part-info"
            "part-buttons part-info";
        grid-template-columns: auto 1fr;
        grid-template-rows: 50% auto;
        height: 95%;
    }

    .part-info {
        margin-top: 0;
    }

    .part-photo-vertical {
        height: 21vh;
    }
    
    .help-block {
        top: -17px;
        left: 7px;
        width: 230px;
        border: 1px solid grey;
    }

    .main-photo {
        height: 45vh;
    }

    .parameters {
        display: flex;
        column-gap: 10px;
    }
    
    .param-block[data-param] {
        width: 25%;
        margin-bottom: 0;
    }

    .param-block p {
        font-size: 12px;
    }

    .part-buttons-block {
        margin-left: 0;
    }

    .shown-part-photo[data-part="chest"] {
        width: 25vh;
    }


}

@media screen and (max-width: 930px) {
    .costume-block {
        grid-template-columns: 35% auto 35%;
    }
    .costume-block.changed {
        grid-template-areas: "batman info";
        grid-template-columns: 35% auto;
    }

    .help-block {
        top: 160px;
        left: -29px;
    }

    .info-block {
        right: 5px;
        left: 5px;
        bottom: 5px;
        top: 5px;
    }

    button {
        width: 90px;
    }

    .shown-part[data-part="chest"] {
        position: absolute;
        top: 212px;
        left: 0;
        width: 90%;
    }

    /*! */
    .clock {
        width: 90px;
        height: 90px;
    }


}

@media screen and (max-width: 900px) {
    button {
        width: 85px;
    }

}

@media screen and (max-width: 860px) {
    button {
        width: 80px;
    }

    .part-photo-horizontal {
        width: 28vh;
    }

    li {
        font-size: 12px;
    }

    .costume-block {
        grid-template-columns: 35% auto 35%;
    }
    .costume-block.changed {
        grid-template-areas: "batman info";
        grid-template-columns: 35% auto;
    }

    .help-block {
        left: -36px;
    }

}

@media screen and (max-width: 830px) {
    .part-buttons-block button {
        height: 35px;
    }
    
    .part-photo-horizontal {
        width: 26vh;
    }
    .part-photo-vertical {
        height: 21vh;
    }

    /*! */
    .clock {
        width: 80px;
        height: 80px;
    }



}

@media screen and (max-width: 810px) {
    button {
        width: 75px;
    }

    .info {
        grid-template-areas:
            "part-photo part-buttons"
            "part-info part-info";
        grid-template-rows: 33% auto;
    }

    .part-photo-vertical {
        height: 17vh;
    }

    .part-info-block {
        margin-right: 7px;
    }

    .part-info {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 765px) {
    button {
        width: 70px;
    }
    
    .help-block {
        top: 168px;
        left: -30px;
    }

}

@media screen and (max-width: 730px) {
    button {
        width: 65px;
        font-size: 11px;
    }

    .part-buttons-block button {
        height: 25px;
    }

    .part-photo-vertical {
        height: 13vh;
    }

    .info {
        grid-template-rows: 27% auto;
    }



}


/* ! до 690px */