@font-face {
    font-family: 'Consolas';
    src: url(../fonts/consolas.ttf);
}

/* ----- Общие ------ */

html, 
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(78, 78, 78);
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
}

p {
    color: aqua;
    font-family: Consolas;
}

button {
    background-color: aqua;
    background: radial-gradient(rgb(170, 249, 249), rgb(138, 249, 249), aqua);
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Consolas;
}

button:hover {
    cursor: pointer;
}

img {     
    user-select: none;   
}

/* ----- Терминал (экраны) ------ */

.terminal {
    width: 97vw;
    height: 94vh;
    background-color: rgb(46, 41, 36);
    /*margin: 0 auto;*/
    display: grid;
    grid-template-areas: "left-screen center-screen right-screen";
    grid-template-columns: 12% auto 15%;
    grid-template-rows: 100%;
    column-gap: 30px;
    box-sizing: border-box;
    border: 10px solid black;
    border-radius: 5px;
}

.left-screen {
    grid-area: left-screen;
    height: 100%;
    background-color: rgb(26, 27, 30);
}

.center-screen {
    grid-area: center-screen;
    max-height: 100%;
    /*background-color: rgb(26, 27, 30);*/
    display: grid;
    grid-template-areas: "characteristics-block"
                         "keyboard";
    grid-template-columns: 100%;
    grid-template-rows: auto 16%;
    row-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.right-screen {
    grid-area: right-screen;
    height: 100%;
    background-color: rgb(26, 27, 30);
}

/* Центральный (основной) блок */

.characteristics-block {
    grid-area: characteristics-block;
    display: grid;
    grid-template-areas: "costume-block parameters";
    grid-template-columns: auto 15%;
    grid-template-rows: 100%;
    column-gap: 20px;
}

.keyboard {
    grid-area: keyboard;
    background-color: rgb(26, 27, 30);
    /*background-color: aqua;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*column-gap: 10px;
    row-gap: 10px;*/
    flex-wrap: wrap;
    padding: 13px;
}

.costume-block {
    grid-area: costume-block;
    background-color: aqua;
    display: grid;
    grid-template-areas: "batman info terry";
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 100%;
    column-gap: 15px;
    justify-items: center;
    align-items: center;
}

.parameters {
    grid-area: parameters;
    background-color: rgb(26, 27, 30);
}

.batman-photo-block {
    grid-area: batman;
    position: relative;
}

.terry-photo {
    grid-area: terry;
    /*float: right;*/
}

.info {
    grid-area: info;
    align-self: flex-start;
    justify-self: flex-start;
    padding-top: 10px;
}

.costume-block img {
    box-sizing: border-box;
    border: 1px solid rgb(26, 27, 30);
}

.main-photo {
    height: 67vh;
}

.part-photo {
    height: 30vh;
    display: none;
}

.selected-square {
    border: 2px solid #ff0000;
    position: absolute;
    z-index: 99;
    visibility: hidden;
    /*display: none;*/
}

.bb-mask-square {
    width: 85px;
    height: 110px;
    top: 6px;
    left: 63px;
}

.shown {
    display: block;
    visibility: visible;
}

/* Характеристики */

input[type="range" i]:disabled {
    color: aqua;
}

/* Правый блок - транспорт, символ */
.bb-symbol img {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}


/* ----- Временно отображаемые блоки ----- */

.clock {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: aqua;
    margin: 0 auto;
    margin-top: 30px;
}

.city {
    text-align: center;
    text-transform: uppercase;
}
